footer{
    align-items: center;                                    /*フレックスボックス内のアイテムを交差軸方向の中央に配置*/
    background-color: #00FFFF40;                          /*要素の背景色を青色(00FFFF40)に設定*/
    border-top: 1px solid #000000;                        /*要素の上側に1pxの黒色(#000000)の実線を設定*/
    display: flex;                                          /*要素をフレックスコンテナに設定*/
    flex-direction: column;                                 /*フレックスボックス内のアイテムを垂直方向に配置*/
    height: 10rem;                                          /*要素の高さをルート要素のフォントサイズの10倍に設定*/
    justify-content: center;                                /*フレックスボックス内のアイテムを主軸方向の中央に配置*/
}
footer p{
    margin: 0;                                              /*要素の外側の余白を0pxに設定*/
}
.myname{
    font-size: 2rem;                                        /*フォントサイズをルート要素のフォントサイズの2倍に設定*/
}