header{
    background-color: #00FFFF40;
    border-bottom: 1px solid #000000;
    display: flex;
    height: 5rem;
}
.header_icon{
    align-items: center;
    display: flex;
    margin-left: 3rem;
    width: 4rem;
}
.header_icon a{
    aspect-ratio: 1/1;
    display: flex;
    height: 4rem;
}
.header_title{
    align-items: center;
    display: flex;
    margin-left: 3rem;
}
.header_title h1{
    margin: 0;
}
.header_button{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 3rem;
    width: 3rem;
}
.header_button_space{
    aspect-ratio: 1/1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 3rem;
    position: relative;
}
.header_button_space span{
    background-color: #000000;
    display: flex;
    height: 0.2rem;
    position: absolute;
    width: 100%;
}
.header_button_space span:nth-child(1){
    top: 0.4rem;
}
.header_button_space span:nth-child(2){
    top: 1.4rem;
}
.header_button_space span:nth-child(3){
    top: 2.4rem;
}
