html{
    font-size: 62.5%;                                       /*フォントサイズを62.5%(10px)に設定*/
}
body{
    display: flex;                                          /*要素をフレックスコンテナに設定*/
    flex-direction: column;                                 /*フレックスボックス内のアイテムを垂直方向に配置*/
    height: 100vh;                                          /*要素の高さをビューポートの高さの100%に設定*/
    margin: 0;                                              /*要素の外側の余白を0pxに設定*/
    width: 100vw;                                           /*要素の幅をビューポートの幅の100%に設定*/
}
main{
    flex: 1;                                                /*要素を親要素内の利用可能なスペースを均等に分けるよう調整*/
}